
$primary-color: #2c1df8;
$secondary-color: #d4dfb3;

#hero-area, #footer, .scroll-top {
	background: linear-gradient(45deg, $primary-color, $secondary-color);
}

#app-area {
	background: linear-gradient(45deg, #f5f5f5, #f5f5f5)
}